## I. Load dependencies and data

In [1]:
!pip install -U googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/91/c6/f59f1551fc6696987a5c28c8345fc2322285e99658999f27e637b810c685/googlemaps-4.0.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from googlemaps) (2.22.0)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.9.11)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.25.7)
Installing collected packages: googlemaps
  Found existing installation: googlemaps 3.1.4
    Uninstalling googlemaps-3.1.4:
      Successfully uninstalled googlemaps-3.1.4
Successfully installed googlemaps-4.0.0

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import googlemaps
from datetime import datetime, timedelta
import math

In [15]:
chunksize = 10 ** 6
dataset = pd.read_csv('./privamov/privamov-gps', nrows=30000000, sep='\t',names=['Id','Date','Long','Lat'])

In [7]:
position1 = dataset.iloc[10000]
position2 = dataset.iloc[0]
dist = distance(position1.Lat, position1.Long, position2.Lat, position2.Long)
dist*1000

28602.20285509703

In [16]:
for id_user in dataset.Id.unique():
    dataset_user = pd.DataFrame(columns=['Id','Data','Long','Lat'])
    dataset_user.set_index('Id')
    dataset_user = dataset[dataset['Id'] == id_user]
    path = "./split_dataset/user_" + str(id_user)
    dataset_user.to_csv(path)

## II. Create POI functions

### 2.1 : Get distance between two points

In [3]:
def distance(lat1,long1,lat2,long2):
    earthRadius = 6371000.0
    
    dLat = math.radians(lat2-lat1)
    dLong = math.radians(long2-long1)
    
    a = math.sin(dLat/2)*math.sin(dLat/2) + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dLong/2) * math.sin(dLong/2)
    
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    dist = earthRadius * c
    
    return dist

### 2.2 : Get center of points distribution

In [4]:
def getCenter(latArray, longArray):
    averageLat = 0.0
    averageLong = 0.0
    
    for d in latArray:
        averageLat += d
    for d in longArray:
        averageLong += d
        
    averageLat /= len(latArray)
    averageLong /= len(longArray)
    
    return averageLat, averageLong

### 2.3 : Get POI

In [5]:
diameter = 100 ##Diameter of POI (in meter)
duration = 60*60 ##Duration spent in zone to be considered as POI (in second)
d2r = math.pi / 180
milli2minute = 1000 * 60

In [24]:
date1 = dataset_user1.iloc[0].Date
date1
date2 = dataset_user1.iloc[1000].Date
date2

'2014-10-04 08:49:34.161'

In [25]:
date_obj = datetime.strptime(date1.split('.')[0], '%Y-%m-%d %H:%M:%S')
date_obj2 = datetime.strptime(date2.split('.')[0], '%Y-%m-%d %H:%M:%S')
delta = date_obj2 - date_obj
delta.total_seconds()

532.0

In [6]:
def identifyPOI(df):
    POI_df = pd.DataFrame(columns=['Entry_date','DeltaT','Center','Size'])
    isEmpty = True
    latArray = []
    longArray = []
    timeArray = []
    for index, row in df.iterrows():
        date = datetime.strptime(row.Date.split('.')[0], '%Y-%m-%d %H:%M:%S')
        lat = row.Lat
        long = row.Long
        
        ##First entry
        if len(latArray) == 0 :
            latArray.append(lat)
            longArray.append(long)
            timeArray.append(date)
            isEmpty = False
            continue
        
        ##If still in the same POI
        if(distance(latArray[0], longArray[0], lat, long) < diameter):
            latArray.append(lat)
            longArray.append(long)
            timeArray.append(date)
        ##If new entry outside of actual POI
        else:
            dTime = timeArray[-1] - timeArray[0]
            if (dTime.total_seconds() < duration):
                
                ##Check if new instance is ok
                while (distance(latArray[0],longArray[0],lat,long) >= diameter):
                    latArray.pop(0)
                    longArray.pop(0)
                    timeArray.pop(0)
                    
                    if(len(latArray) == 0):
                        isEmpty = True
                        break
            ##Else valid POI
            else :
                center = getCenter(latArray,longArray)
                deltaT = timeArray[-1] - timeArray[0]
                deltaT = deltaT.total_seconds()
                POI_df = POI_df.append({'Entry_date':timeArray[0],'DeltaT':deltaT,'Center':center,'Size':len(latArray)},ignore_index=True)
    
                
                latArray.clear()
                longArray.clear()
                timeArray.clear()
                
            latArray.append(lat)
            longArray.append(long)
            timeArray.append(date)
    
    if isEmpty == False :
        center = getCenter(latArray,longArray)
        deltaT = timeArray[-1] - timeArray[0]
        deltaT = deltaT.total_seconds()
        POI_df = POI_df.append({'Entry_date':timeArray[0],'DeltaT':deltaT,'Center':center,'Size':len(latArray)},ignore_index=True)
    
    return POI_df

In [13]:
def identifyPOItoCatch(df):
    timeArray = df['Entry_date']
    posArray = df['Center']
    deltaTArray = df['DeltaT']
    for i in range(0, len(posArray)):
        for j in range(0,len(posArray)):
            if (distance(posArray[i][0],posArray[i][1],posArray[j][0],posArray[j][1]) < diameter):
                posArray.drop(labels=[j],inplace=True)
                timeArray.drop(labels=[j],inplace=True)
                deltaTArray.drop(labels=[j],inplace=True)
        posArray.reset_index(drop=True)
        timeArray.reset_index(drop=True)
        deltaTArray.reset_index(drop=True)
        
    return pd.DataFrame({'Center':posArray,'Entry':timeArray,'deltaT':deltaTArray})

## III. Find POI

In [33]:
id_users = [1, 6, 2, 8, 27, 17, 28, 24, 38, 42, 11, 36, 50, 26, 14, 55, 52, 85, 7, 15]

In [40]:
def CalculatePOI():
    for id_user in id_users :
        path_dataset = "./split_dataset/user_"+str(id_user)
        dataset_user = pd.read_csv(path_dataset)
        poi_dataset = identifyPOI(dataset_user)
        path_poi = './poi/poi_user_' + str(id_user)+'.csv'
        poi_dataset.to_csv(path_poi)
        print("-------POI of user {}/20 Done-------".format(id_user))

In [9]:
path_dataset = "./split_dataset/user_7"
dataset_user = pd.read_csv(path_dataset)
poi_dataset = identifyPOI(dataset_user)

In [10]:
poi_dataset

,Entry_date,DeltaT,Center,Size
0,2014-11-25 16:26:26,5324.0,"(45.6640469047619, 5.026609047619045)",7
1,2014-11-25 18:14:36,26333.0,"(45.186244452113776, 5.748025768600143)",12603
2,2014-11-26 01:40:12,4246.0,"(45.18629092064239, 5.747975584991567)",8342
3,2014-11-26 03:57:29,6773.0,"(45.18632709052771, 5.7482117760236955)",8108
4,2014-11-26 05:52:57,6580.0,"(45.18632202404993, 5.747956394257367)",5433
5,2014-11-26 08:10:24,9670.0,"(45.20996948680363, 5.794540513196471)",682
6,2014-11-26 11:50:27,23597.0,"(45.210027684365784, 5.795045486725666)",452
7,2014-11-26 18:53:54,6067.0,"(45.18626368708942, 5.74813185771196)",11882
8,2014-11-26 20:40:22,8379.0,"(45.18626028572638, 5.748242978352759)",16076
9,2014-11-27 00:52:45,3727.0,"(45.18624195770083, 5.748021443678265)",7250
10,2014-11-27 03:55:17,6121.0,"(45.18633805226361, 5.748113978997716)",9618
11,2014-11-27 07:58:17,7374.0,"(45.21014932000003, 5.794737253333336)",250
12,2014-11-27 12:23:38,4546.0,"(45.21016041342145, 5.794901613223406)",8732
13,2014-11-27 14:07:45,13545.0,"(45.210201265244194, 5.795189784891551)",1968
14,2014-11-27 18:25:23,3612.0,"(45.18706553833546, 5.724095412399477)",7226
15,2014-11-27 22:51:52,5246.0,"(45.186718883374716, 5.724556989247307)",806
16,2014-11-28 00:55:08,4234.0,"(45.18621538568115, 5.7480777372493925)",8444
17,2014-11-28 02:06:08,5115.0,"(45.18632441539317, 5.748166493341189)",10212
18,2014-11-28 03:38:32,12580.0,"(45.18629185026294, 5.747931363097349)",24728
19,2014-11-28 08:09:39,6381.0,"(45.21010661103222, 5.794935267518931)",2816
20,2014-11-28 09:59:40,12596.0,"(45.210131231884, 5.79498874396135)",138
21,2014-11-28 17:27:21,3655.0,"(45.17260406204877, 5.733221112914891)",924
22,2014-11-28 18:28:17,19567.0,"(45.172734821428605, 5.733722202380948)",56
23,2014-11-29 00:42:30,9295.0,"(45.18625678741371, 5.748241035019762)",11346
24,2014-11-29 03:17:46,6920.0,"(45.186329309131025, 5.748313749174911)",3030
25,2014-11-29 05:15:06,5554.0,"(45.18631160174343, 5.747943663078755)",3902
26,2014-11-29 06:49:31,7289.0,"(45.186222256663946, 5.747986450034951)",6678
27,2014-11-29 09:08:28,4301.0,"(45.18624686134854, 5.748062967711259)",1404
28,2014-11-29 10:32:41,26706.0,"(45.186273963149, 5.74810978745904)",19855
29,2014-11-29 18:33:19,14238.0,"(45.19464844423445, 5.72316458727156)",2645
30,2014-11-29 23:11:26,3660.0,"(45.19303655519568, 5.7295430411721995)",3708
31,2014-11-30 01:05:30,4520.0,"(45.18626045014857, 5.748242792658726)",2688
32,2014-11-30 02:21:30,5633.0,"(45.18624255411289, 5.748318477633501)",462
33,2014-11-30 03:55:24,9525.0,"(45.186273455600535, 5.747865393565707)",11832
34,2014-11-30 07:21:03,13433.0,"(45.18629239085999, 5.7480722118150105)",12064
35,2014-11-30 11:07:53,8309.0,"(45.18624647908854, 5.748283240971112)",12848
36,2014-11-30 13:30:08,12425.0,"(45.1862874390748, 5.748163881796125)",17467
37,2014-11-30 16:57:53,6333.0,"(45.18621389383907, 5.747971394162476)",5162
38,2014-11-30 18:50:06,11394.0,"(45.186760764525914, 5.732630038226311)",436
39,2014-11-30 22:03:44,16486.0,"(45.1862518916944, 5.748203113458722)",3881
40,2014-12-01 02:49:21,53905.0,"(45.18632777143297, 5.748299822078825)",4028
41,2014-12-02 07:10:17,3785.0,"(45.354024166666676, 5.565336250000001)",8
42,2014-12-02 08:49:32,5525.0,"(45.78634721159663, 4.879845292475205)",7163

In [41]:
CalculatePOI()

-------POI of user 1/20 Done-------
-------POI of user 6/20 Done-------
-------POI of user 2/20 Done-------
-------POI of user 8/20 Done-------
-------POI of user 27/20 Done-------
-------POI of user 17/20 Done-------
-------POI of user 28/20 Done-------
-------POI of user 24/20 Done-------
-------POI of user 38/20 Done-------
-------POI of user 42/20 Done-------
-------POI of user 11/20 Done-------
-------POI of user 36/20 Done-------
-------POI of user 50/20 Done-------
-------POI of user 26/20 Done-------
-------POI of user 14/20 Done-------
-------POI of user 55/20 Done-------
-------POI of user 52/20 Done-------
-------POI of user 85/20 Done-------
-------POI of user 7/20 Done-------
-------POI of user 15/20 Done-------

In [6]:
poi_dataset_user1 = pd.read_csv('./poi/poi_user_6.csv')
poi_dataset_user1

,Unnamed: 0,Entry_date,DeltaT,Center,Size
0,0,2014-11-24 18:20:33,18950.0,"(45.353884811485486, 5.495568573187868)",23884
1,1,2014-12-22 17:07:34,7196.0,"(45.63191895813563, 5.146448920007512)",5300
2,2,2014-12-22 19:12:39,3895.0,"(45.631918042048994, 5.146427475032652)",4900
3,3,2014-12-27 08:43:43,90547.0,"(48.950081220779694, 2.9191925729058843)",31811
4,4,2014-12-28 10:31:07,20998.0,"(49.07102023151619, 2.5643733273408835)",40082
...,...,...,...,...,...
153,153,2015-03-08 07:00:06,5555.0,"(45.63196730790172, 5.1463998139867275)",10786
154,154,2015-03-08 11:13:53,5398.0,"(45.070246943029645, 5.550553998684036)",1383
155,155,2015-03-08 15:06:30,5706.0,"(45.63192030418344, 5.146488388278012)",7898
156,156,2015-03-08 16:45:24,6921.0,"(45.63196572369844, 5.146473834416941)",7992
157,157,2015-03-08 18:41:43,6541.0,"(45.63198029577418, 5.146423814427431)",8183

In [7]:
# test_df['Center'] = test_df[test_df['Center'][1:-1].replace(" ", "").split(',')]

def change_to_pair(row):
    string = row['Center']
    ret = string[1:-1].replace(" ", "").split(',')
    ret[0] = float(ret[0])
    ret[1] = float(ret[1])
    return ret

poi_dataset_user1['Center'] = poi_dataset_user1.apply(change_to_pair, axis=1)

In [8]:
poi_dataset_user1

,Unnamed: 0,Entry_date,DeltaT,Center,Size
0,0,2014-11-24 18:20:33,18950.0,"[45.353884811485486, 5.495568573187868]",23884
1,1,2014-12-22 17:07:34,7196.0,"[45.63191895813563, 5.146448920007512]",5300
2,2,2014-12-22 19:12:39,3895.0,"[45.631918042048994, 5.146427475032652]",4900
3,3,2014-12-27 08:43:43,90547.0,"[48.950081220779694, 2.9191925729058843]",31811
4,4,2014-12-28 10:31:07,20998.0,"[49.07102023151619, 2.5643733273408835]",40082
...,...,...,...,...,...
153,153,2015-03-08 07:00:06,5555.0,"[45.63196730790172, 5.1463998139867275]",10786
154,154,2015-03-08 11:13:53,5398.0,"[45.070246943029645, 5.550553998684036]",1383
155,155,2015-03-08 15:06:30,5706.0,"[45.63192030418344, 5.146488388278012]",7898
156,156,2015-03-08 16:45:24,6921.0,"[45.63196572369844, 5.146473834416941]",7992
157,157,2015-03-08 18:41:43,6541.0,"[45.63198029577418, 5.146423814427431]",8183

In [9]:
!pip install gmplot
import gmplot

Requirement already satisfied: gmplot in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (1.2.0)
Requirement already satisfied: requests in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from gmplot) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests->gmplot) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests->gmplot) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests->gmplot) (1.25.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mika-\.conda\envs\machinelearning\lib\site-packages (from requests->gmplot) (2019.9.11)

In [10]:
lat_list = []
long_list = []
for i in range(0,len(poi_dataset_user1)):
    lat_list.append(poi_dataset_user1.Center[i][0])
    long_list.append(poi_dataset_user1.Center[i][1])

print(lat_list, '\n', long_list)

[45.353884811485486, 45.63191895813563, 45.631918042048994, 48.950081220779694, 49.07102023151619, 49.07105175722799, 48.95007605556429, 45.63199159589225, 45.631967494735534, 45.632003190152076, 45.63203024634076, 45.63203789207418, 45.78616949509742, 45.63196562255127, 45.78624791166091, 45.78384196558285, 45.63202276279889, 45.63196491212188, 45.63200840840786, 45.632076073886026, 45.747839226655294, 45.63197435160736, 45.21127154392138, 45.21118200251242, 45.63207601967389, 45.35399167052582, 45.35374898388681, 45.35389296001281, 45.63203417237023, 45.63220450485535, 45.63208273358439, 45.786090483330966, 45.786105653858044, 45.78375847617289, 45.632001658265374, 45.63201640397897, 45.63206953952022, 45.78376816697543, 45.78455048103824, 45.78362985093183, 45.78349710061664, 45.632074972498934, 45.63206040465129, 45.786127065759175, 45.78357768877962, 45.78609519082538, 45.631934235519985, 45.63198316350714, 45.63208823908038, 45.63208282378515, 45.63196223945518, 45.6318422129056, 45.63202356587642, 45.63199294976986, 45.632052917635214, 45.63203279238505, 45.63198790587737, 45.63194796936773, 45.63193310620757, 45.63181562572471, 45.63204843694765, 45.6321015074411, 45.21120183789008, 45.18136929072091, 45.1937717442124, 45.353821152192054, 45.632057836809835, 45.7861950419091, 45.78612488093097, 45.78607501838361, 45.63197349459248, 45.63198866479758, 45.63210857573812, 45.631955945010574, 45.63201594792736, 45.03191701655457, 45.63202854721907, 45.24084732733516, 45.24080162732607, 45.24083391479398, 45.24084189650519, 45.63204561102376, 45.78446023395018, 45.783794149632385, 45.78375902074442, 45.78473356653732, 45.63204281688651, 45.632025360375486, 45.63218777901287, 45.63206938327341, 45.78606569256841, 45.784803006296215, 45.783968575371986, 45.783641070551234, 45.78625533297709, 45.63197292857512, 45.632138551910316, 45.632069628181064, 45.78371307150457, 45.783768730471564, 45.78364347042925, 45.78373358383712, 45.632006144121746, 45.63206571712134, 45.76419040217522, 45.632121507651426, 45.632005569692865, 45.63209618127484, 45.63204566691594, 45.78446428898072, 45.78605400768696, 45.78605264645414, 45.63195882816956, 45.632099215628386, 45.632087023439794, 45.631941602362105, 45.63201132482666, 45.631936495215754, 45.61348056969116, 45.6320739484806, 45.631915701660816, 45.63204057629411, 45.6320982150466, 45.6320165271742, 45.784485118522724, 45.78602243043999, 45.78460748480322, 45.632006213901214, 45.632031397830104, 45.63205305822643, 45.784655669185284, 45.78601368811342, 45.78601574765142, 45.6319253945122, 45.63204211173937, 45.63187621782252, 45.6319795455223, 45.63197899752382, 45.63209696014463, 45.6319410998035, 45.63202711656604, 45.632057817376534, 45.78471304982695, 45.632027671628386, 45.631993049816614, 45.63201605860784, 45.632026479707406, 45.63203928240604, 45.63205021497284, 45.7477872049439, 45.631998287989596, 45.63193059029681, 45.63209468569808, 45.63196730790172, 45.070246943029645, 45.63192030418344, 45.63196572369844, 45.63198029577418]
 [5.495568573187868, 5.146448920007512, 5.146427475032652, 2.9191925729058843, 2.5643733273408835, 2.56440256390997, 2.9191293081522707, 5.146298095748109, 5.14656891489149, 5.146374387293454, 5.146408241439296, 5.1465170055210185, 4.879595240570466, 5.146440033600066, 4.879873363990631, 4.8727530813931255, 5.14628130839385, 5.146334626025751, 5.146278941381089, 5.146309461302321, 5.187972342907118, 5.1464656217218385, 5.7858046925109425, 5.785725911455481, 5.1463121669107705, 5.495488073309383, 5.49559088812438, 5.495702323919293, 5.1463727596129445, 5.146140844111033, 5.146327831333678, 4.879540416844136, 4.879549487707733, 4.873722845554972, 5.146434715608489, 5.146356829876663, 5.146290176914021, 4.88219155276135, 4.882474650601091, 4.872800855123452, 4.873331814301112, 5.146382519021999, 5.14633629468177, 4.8795299185634144, 4.872614962007873, 4.879519341815696, 5.146381991501433, 5.1463383949328385, 5.146301389266767, 5.146422209644246, 5.146201734422226, 5.146619531002896, 5.146325990833441, 5.146493109188176, 5.14630756785269, 5.146296095786057, 5.1465798727973615, 5.146226350734543, 5.146199626766251, 5.146561606606634, 5.146303148368536, 5.146334449653059, 5.785758747232647, 5.7209503360409295, 5.729190128604077, 5.495585126170309, 5.146327786205204, 4.879665816119082, 4.879626778553926, 4.879504494837325, 5.146459492601173, 5.146392775572664, 5.146293349737627, 5.146461988725688, 5.146323836071571, 5.527192814387936, 5.1464080909643055, 5.679894521027726, 5.679979937993683, 5.679952573340203, 5.679975285558289, 5.146345928665639, 4.881859331494659, 4.872706252549023, 4.872734476981883, 4.882484160867758, 5.146479275687736, 5.14634059049673, 5.146298192779278, 5.146337616810703, 4.87955063886828, 4.8823418087145996, 4.873578430342384, 4.873139278449101, 4.879349368213808, 5.146225379381874, 5.146266218120197, 5.1462683893189975, 4.8729838719173415, 4.873211656252952, 4.872934214281943, 4.873750496794667, 5.146397711486644, 5.146346308106061, 4.878270892073898, 5.14644052677631, 5.1463583609696775, 5.146344263082904, 5.146387533829758, 4.882273990259653, 4.879540913831856, 4.879464648576872, 5.146443634213013, 5.1462984019141675, 5.146273710675513, 5.146453450269837, 5.146451751504839, 5.146499125083173, 5.081829797297293, 5.1463310019166, 5.146502895464661, 5.1463612627961925, 5.146372459045705, 5.146401576337634, 4.88240755102272, 4.8794529659056085, 4.882466521921804, 5.1465654033581, 5.146360950820337, 5.146366404371832, 4.882323253806752, 4.879421915581593, 4.87940906727725, 5.146317702611476, 5.146345039215563, 5.146181010858871, 5.146343601017873, 5.1464001409363975, 5.146367503140487, 5.146390486005126, 5.146388202115485, 5.146381982229242, 4.882403088970571, 5.146359563735438, 5.146349146011813, 5.146518870496483, 5.146364726803922, 5.146361199556144, 5.146393816482035, 5.188148809288409, 5.146410068069291, 5.146166935800205, 5.146319918515976, 5.1463998139867275, 5.550553998684036, 5.146488388278012, 5.146473834416941, 5.146423814427431]

In [11]:
gmap = gmplot.GoogleMapPlotter(45.185, 5.73,13)

gmap.heatmap(lat_list,long_list)



gmap.draw('C:\\Users\\mika-\\Documents\\Travail\\INSA\\Cours\\5-IF\\Système_Algo_paralleles\\Privacy\\map_user6.html')

In [96]:
lat_list2 = []
long_list2 = []
for i in range(1,len(POI_df)):
    lat_list2.append(POI_df.Center[i][0])
    long_list2.append(POI_df.Center[i][1])

In [97]:
gmap2 = gmplot.GoogleMapPlotter(45.78, 4.87,13)

gmap2.heatmap(lat_list2,long_list2)



gmap2.draw('C:\\Users\\mika-\\Documents\\Travail\\INSA\\Cours\\5-IF\\Système_Algo_paralleles\\Privacy\\map_user1.html')