# Finding work and leaving place

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from datetime import datetime, timedelta
import math

### Get distance between two points

In [3]:
diameter = 500 ##Diameter of POI (in meter)

In [4]:
def distance(lat1,long1,lat2,long2):
    earthRadius = 6371000.0
    
    dLat = math.radians(lat2-lat1)
    dLong = math.radians(long2-long1)
    
    a = math.sin(dLat/2)*math.sin(dLat/2) + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dLong/2) * math.sin(dLong/2)
    
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    dist = earthRadius * c
    
    return dist

### Get center of points distribution

In [5]:
def getCenter(latArray, longArray):
    averageLat = 0.0
    averageLong = 0.0
    
    for d in latArray:
        averageLat += d
    for d in longArray:
        averageLong += d
        
    averageLat /= len(latArray)
    averageLong /= len(longArray)
    
    center=[averageLat, averageLong]
    return center

## Normalizing POI center

In [6]:
def normalize_POI(poi_dataframe):
    posArray = poi_dataframe['Center']
    temp_general_array = []
    for i in range(0, len(posArray)):
        
        
        temp_index_array = []
        temp_lat_array = []
        temp_lng_array = []
        
        if i not in temp_general_array:
            temp_lat_array.append(poi_dataframe.iloc[i]['Center'][0])
            temp_lng_array.append(poi_dataframe.iloc[i]['Center'][1])
            temp_index_array.append(i)
            temp_general_array.append(i)

            for j in range(0,len(posArray)):
                if (distance(posArray[i][0],posArray[i][1],posArray[j][0],posArray[j][1]) < diameter):

                    if i!=j:
                        if j not in temp_general_array:
                            print(j)
                            temp_index_array.append(j)
                            temp_lat_array.append(poi_dataframe.iloc[j]['Center'][0])
                            temp_lng_array.append(poi_dataframe.iloc[j]['Center'][1])
                            temp_general_array.append(j)
                
            center = getCenter(temp_lat_array,temp_lng_array)
            #print(type(center))

            for index in temp_index_array:
                print(poi_dataframe.iloc[index]['Center'])
                poi_dataframe.iloc[index]['Center'][0] = center[0]
                poi_dataframe.iloc[index]['Center'][1] = center[1]
                print("lat ",center[0])
                print("lng ",center[1])
                print("center ",center)
                print(poi_dataframe.iloc[index]['Center'])
                
    return poi_dataframe

In [7]:
test_file_path = "./poi/poi_user_1.csv"

test_df = pd.read_csv(test_file_path)

In [8]:
# test_df['Center'] = test_df[test_df['Center'][1:-1].replace(" ", "").split(',')]

def change_to_pair(row):
    string = row['Center']
    ret = string[1:-1].replace(" ", "").split(',')
    ret[0] = float(ret[0])
    ret[1] = float(ret[1])
    return ret

test_df['Center'] = test_df.apply(change_to_pair, axis=1)

In [9]:
test_df.head()

,Unnamed: 0,Entry_date,DeltaT,Center,Size
0,0,2014-10-04 08:40:42,115383.0,"[43.4093233098101, 3.6875304057658993]",160803
1,1,2014-10-07 12:30:19,67454.0,"[45.77180590163932, 4.869328661202186]",61
2,2,2014-10-08 07:33:46,30925.0,"[45.78580376006621, 4.8792403489572616]",4843
3,3,2014-10-08 16:23:44,54175.0,"[45.77310891933308, 4.8717314202525595]",2719
4,4,2014-10-09 07:37:55,9590.0,"[45.78611514360843, 4.879920111245953]",824

In [10]:
test_df = normalize_POI(test_df)

8
[43.4093233098101, 3.6875304057658993]
lat  43.409320228189394
lng  3.687526761295314
center  [43.409320228189394, 3.687526761295314]
[43.409320228189394, 3.687526761295314]
[43.40931714656869, 3.6875231168247287]
lat  43.409320228189394
lng  3.687526761295314
center  [43.409320228189394, 3.687526761295314]
[43.409320228189394, 3.687526761295314]
3
6
11
15
18
19
22
32
34
36
40
41
43
44
45
46
47
50
52
54
56
57
[45.77180590163932, 4.869328661202186]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77310891933308, 4.8717314202525595]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77012773458853, 4.869753658542806]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77048919053928, 4.869696785846327]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.770695283218835, 4.86970325480855]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77571500000001, 4.87027666666667]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.770197780565965, 4.870616692951002]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.7716952238806, 4.870739798231086]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.770023333333285, 4.870618333333329]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77176262675286, 4.870690028047461]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77207475969003, 4.870610110465123]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.771898783667176, 4.870735106658049]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.76999617647056, 4.8700528431372545]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77038941601085, 4.8690156837270315]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77015656426627, 4.869876889050836]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.76980596602976, 4.868783736730358]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77017989208862, 4.869848563520412]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77026980240196, 4.86954616471057]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77247283519544, 4.8698559590316535]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77161355936404, 4.870768797814219]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.770214851361665, 4.8698089965910105]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.770333573481835, 4.870258370539512]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
[45.77017013873337, 4.869756749148562]
lat  45.771095535331014
lng  4.870090142217676
center  [45.771095535331014, 4.870090142217676]
[45.771095535331014, 4.870090142217676]
4
5
7
14
16
17
20
21
23
31
33
35
37
38
39
42
48
49
51
53
55
58
[45.78580376006621, 4.8792403489572616]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78611514360843, 4.879920111245953]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.785451362770544, 4.875586564692049]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78335795931757, 4.878596522309718]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.785236925004824, 4.879320586080585]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78411679089005, 4.873515273556227]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.786386229861634, 4.879810874834773]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.7862183071986, 4.879469089755038]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.786382330216064, 4.879771228222812]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78599383630551, 4.879910813900296]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78413827822947, 4.876031668311599]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78478211128477, 4.876996168537348]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78552371521239, 4.878354487340446]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.786417749183514, 4.8796557342643965]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78656724684626, 4.879880831529787]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.786488908164934, 4.879846144618322]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.786130172001705, 4.879549804108932]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78631541844201, 4.87966700458708]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78643273444361, 4.879839479363887]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78625377393816, 4.87901521829378]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.784950872011265, 4.877506634317862]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.78655250087754, 4.879799449810542]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.786163470324304, 4.879321767437904]
lat  45.78572954766084
lng  4.878721991568549
center  [45.78572954766084, 4.878721991568549]
[45.78572954766084, 4.878721991568549]
[45.67952350877192, 5.188790087719293]
lat  45.67952350877192
lng  5.188790087719293
center  [45.67952350877192, 5.188790087719293]
[45.67952350877192, 5.188790087719293]
[46.168543333333304, 4.86189833333333]
lat  46.168543333333304
lng  4.86189833333333
center  [46.168543333333304, 4.86189833333333]
[46.168543333333304, 4.86189833333333]
[45.76124666666689, 4.814930000000003]
lat  45.76124666666689
lng  4.814930000000003
center  [45.76124666666689, 4.814930000000003]
[45.76124666666689, 4.814930000000003]
[45.272995, 5.00879166666667]
lat  45.272995
lng  5.00879166666667
center  [45.272995, 5.00879166666667]
[45.272995, 5.00879166666667]
[45.70637601489758, 4.843654199255122]
lat  45.70637601489758
lng  4.843654199255122
center  [45.70637601489758, 4.843654199255122]
[45.70637601489758, 4.843654199255122]
27
29
[43.57225764558762, 1.4870670771969745]
lat  43.57229395832473
lng  1.486985364199482
center  [43.57229395832473, 1.486985364199482]
[43.57229395832473, 1.486985364199482]
[43.57231003215139, 1.4869244217788287]
lat  43.57229395832473
lng  1.486985364199482
center  [43.57229395832473, 1.486985364199482]
[43.57229395832473, 1.486985364199482]
[43.57231419723515, 1.486964593622642]
lat  43.57229395832473
lng  1.486985364199482
center  [43.57229395832473, 1.486985364199482]
[43.57229395832473, 1.486985364199482]
[43.60171127437651, 1.4558767981859364]
lat  43.60171127437651
lng  1.4558767981859364
center  [43.60171127437651, 1.4558767981859364]
[43.60171127437651, 1.4558767981859364]
[43.201436666666666, 1.229735402298851]
lat  43.201436666666666
lng  1.229735402298851
center  [43.201436666666666, 1.229735402298851]
[43.201436666666666, 1.229735402298851]
[43.220019222222206, 3.093917444444444]
lat  43.220019222222206
lng  3.093917444444444
center  [43.220019222222206, 3.093917444444444]
[43.220019222222206, 3.093917444444444]
[47.876651666666696, 3.86840166666667]
lat  47.876651666666696
lng  3.86840166666667
center  [47.876651666666696, 3.86840166666667]
[47.876651666666696, 3.86840166666667]
61
64
67
70
75
76
[30.257289861890893, -97.75029218801235]
lat  30.257348817027285
lng  -97.75025684285042
center  [30.257348817027285, -97.75025684285042]
[30.257348817027285, -97.75025684285042]
[30.257281262452942, -97.75025055090919]
lat  30.257348817027285
lng  -97.75025684285042
center  [30.257348817027285, -97.75025684285042]
[30.257348817027285, -97.75025684285042]
[30.2573872459403, -97.75024097993841]
lat  30.257348817027285
lng  -97.75025684285042
center  [30.257348817027285, -97.75025684285042]
[30.257348817027285, -97.75025684285042]
[30.25734653878542, -97.75024721150207]
lat  30.257348817027285
lng  -97.75025684285042
center  [30.257348817027285, -97.75025684285042]
[30.257348817027285, -97.75025684285042]
[30.257373180019936, -97.75023768319276]
lat  30.257348817027285
lng  -97.75025684285042
center  [30.257348817027285, -97.75025684285042]
[30.257348817027285, -97.75025684285042]
[30.25728259295119, -97.75026776149934]
lat  30.257348817027285
lng  -97.75025684285042
center  [30.257348817027285, -97.75025684285042]
[30.257348817027285, -97.75025684285042]
[30.25748103715033, -97.75026152489885]
lat  30.257348817027285
lng  -97.75025684285042
center  [30.257348817027285, -97.75025684285042]
[30.257348817027285, -97.75025684285042]
68
[30.24883715023874, -97.7502036807804]
lat  30.249694182487797
lng  -97.74986744867212
center  [30.249694182487797, -97.74986744867212]
[30.249694182487797, -97.74986744867212]
[30.250551214736856, -97.74953121656384]
lat  30.249694182487797
lng  -97.74986744867212
center  [30.249694182487797, -97.74986744867212]
[30.249694182487797, -97.74986744867212]
[30.264709999275286, -97.76371772869736]
lat  30.264709999275286
lng  -97.76371772869736
center  [30.264709999275286, -97.76371772869736]
[30.264709999275286, -97.76371772869736]
66
69
74
78
[30.2693236303092, -97.7437172971945]
lat  30.267746217536274
lng  -97.74270766189638
center  [30.267746217536274, -97.74270766189638]
[30.267746217536274, -97.74270766189638]
[30.267462650450355, -97.74088949009125]
lat  30.267746217536274
lng  -97.74270766189638
center  [30.267746217536274, -97.74270766189638]
[30.267746217536274, -97.74270766189638]
[30.26749625657903, -97.74165843201793]
lat  30.267746217536274
lng  -97.74270766189638
center  [30.267746217536274, -97.74270766189638]
[30.267746217536274, -97.74270766189638]
[30.266574518716677, -97.74401464349351]
lat  30.267746217536274
lng  -97.74270766189638
center  [30.267746217536274, -97.74270766189638]
[30.267746217536274, -97.74270766189638]
[30.26787403162608, -97.74325844668464]
lat  30.267746217536274
lng  -97.74270766189638
center  [30.267746217536274, -97.74270766189638]
[30.267746217536274, -97.74270766189638]

[30.271781792689705, -97.7523998416232]
lat  30.271781792689705
lng  -97.7523998416232
center  [30.271781792689705, -97.7523998416232]
[30.271781792689705, -97.7523998416232]
73
77
[30.2669869246325, -97.73910196660998]
lat  30.266073001490522
lng  -97.7378412486401
center  [30.266073001490522, -97.7378412486401]
[30.266073001490522, -97.7378412486401]
[30.26532161853462, -97.73807867845832]
lat  30.266073001490522
lng  -97.7378412486401
center  [30.266073001490522, -97.7378412486401]
[30.266073001490522, -97.7378412486401]
[30.265910461304447, -97.73634310085195]
lat  30.266073001490522
lng  -97.7378412486401
center  [30.266073001490522, -97.7378412486401]
[30.266073001490522, -97.7378412486401]

In [11]:
test_df.head()

,Unnamed: 0,Entry_date,DeltaT,Center,Size
0,0,2014-10-04 08:40:42,115383.0,"[43.409320228189394, 3.687526761295314]",160803
1,1,2014-10-07 12:30:19,67454.0,"[45.771095535331014, 4.870090142217676]",61
2,2,2014-10-08 07:33:46,30925.0,"[45.78572954766084, 4.878721991568549]",4843
3,3,2014-10-08 16:23:44,54175.0,"[45.771095535331014, 4.870090142217676]",2719
4,4,2014-10-09 07:37:55,9590.0,"[45.78572954766084, 4.878721991568549]",824

In [12]:
distance_test=distance(45.785451362770544, 4.875586564692049,45.78335795931757, 4.878596522309718)
distance_test

329.6370298353447

In [55]:
#find if a poi is a work place, a living place or nothing
#Monday=0, Sunday=6

def findPlace(df):
    #parsing columns
    dfCopy = df.copy()
    dfCopy["Entry_date"] = pd.to_datetime(dfCopy["Entry_date"])
    dfCopy["day"] = dfCopy["Entry_date"].dt.dayofweek
   
    #groupby center to get the sum of size and deltaT
    tmp = df.groupby(dfCopy['Center'].map(tuple)).sum()
    tmp = tmp.rename(columns={"DeltaT": "TotalDeltaT", "Size": "TotalSize"})

    #parsing before merge
    dfCopy['Center'] = dfCopy['Center'].map(tuple)

    #merge the two dataframe to get all informations in one df
    res = pd.merge(dfCopy, tmp, on="Center")

    print(res.columns)
    
    #get work place
    workTimeMask = (res["Entry_date"].dt.hour > 9) & (res["Entry_date"].dt.hour < 12)
    workDays = res.loc[res["day"] < 5].loc[workTimeMask]
    workPlaceRow = workDays.loc[workDays["TotalDeltaT"].idxmax()]
    print(workPlaceRow)

    #get living place
    houseTimeMask = res["Entry_date"].dt.hour > 18
    houseDays = res.loc[res["day"] < 5].loc[houseTimeMask]
    houseRow = houseDays.loc[houseDays["TotalDeltaT"].idxmax()]
    print(houseRow)
    houseRow.drop(['Unnamed: 0_x'],inplace=True)
    houseRow.drop(['Unnamed: 0_y'],inplace=True)
    workPlaceRow.drop(['Unnamed: 0_x'],inplace=True)
    workPlaceRow.drop(['Unnamed: 0_y'],inplace=True)
    print("Work place coord : ", workPlaceRow["Center"])
    print("Living place coord : ", houseRow["Center"])
    
    #print(type(workPlaceRow))
    df_interesting_places=pd.DataFrame(columns=houseRow.index)
    df_interesting_places = df_interesting_places.append(workPlaceRow,ignore_index=True)
    df_interesting_places = df_interesting_places.append(houseRow,ignore_index=True)
    
    labels=['Workplace','Living Place']
    df_interesting_places['Place Category']=labels
    
    
    return df_interesting_places
        
new_test=findPlace(test_df)

Index(['Unnamed: 0_x', 'Entry_date', 'DeltaT', 'Center', 'Size', 'day',
       'Unnamed: 0_y', 'TotalDeltaT', 'TotalSize'],
      dtype='object')
Unnamed: 0_x                                         5
Entry_date                         2014-10-09 10:22:46
DeltaT                                           87778
Center          (45.78572954766084, 4.878721991568549)
Size                                             16442
day                                                  3
Unnamed: 0_y                                       698
TotalDeltaT                                     498708
TotalSize                                       189496
Name: 27, dtype: object
Unnamed: 0_x                                         11
Entry_date                          2014-10-21 21:01:47
DeltaT                                            34941
Center          (45.771095535331014, 4.870090142217676)
Size                                               4503
day                                                   1
Unnamed: 0_y                                        772
TotalDeltaT                                      903416
TotalSize                                        152574
Name: 5, dtype: object
Work place coord :  (45.78572954766084, 4.878721991568549)
Living place coord :  (45.771095535331014, 4.870090142217676)

In [56]:
new_test

,Entry_date,DeltaT,Center,Size,day,TotalDeltaT,TotalSize,Place Category
0,2014-10-09 10:22:46,87778.0,"(45.78572954766084, 4.878721991568549)",16442,3,498708.0,189496,Workplace
1,2014-10-21 21:01:47,34941.0,"(45.771095535331014, 4.870090142217676)",4503,1,903416.0,152574,Living Place

In [76]:
def areColleagues (lat1,lng1,lat2,lng2):
    max_dist=100 #distance maximale entre 2 coordonnees de travail pour dire si 2 personnes travaillent au meme endroit
    if(distance(lat1,lng1,lat2,lng2) < max_dist):
        return True
    else:
        return False

In [79]:
def areLivingTogether (lat1,lng1,lat2,lng2):
    level_of_closseness=0 #0 not living close #1 Neighbor #2 living together
    max_dist=500
    if(distance(lat1,lng1,lat2,lng2) < max_dist):
        max_dist=100
        level_of_closseness=1
        if(distance(lat1,lng1,lat2,lng2) < max_dist):
            level_of_closseness=2 
            
    return level_of_closseness

In [78]:
print(distance(45.78572954766084, 4.878721991568549,45.771095535331014, 4.870090142217676))
print(new_test.iloc[0]['Center'][0])
print(new_test.iloc[1]['Center'][0])
test_areColleagues=areColleagues (new_test.iloc[0]['Center'][0],new_test.iloc[0]['Center'][1],new_test.iloc[1]['Center'][0],new_test.iloc[1]['Center'][1])
test_areColleagues

1759.540120565728
45.78572954766084
45.771095535331014

False

In [83]:
test_LivingTogether=areLivingTogether(new_test.iloc[0]['Center'][0],new_test.iloc[0]['Center'][1],new_test.iloc[1]['Center'][0],new_test.iloc[1]['Center'][1])
print(test_LivingTogether)
test_LivingTogether=areLivingTogether(45.771095535331013, 4.870090142217675,45.771095535331014,4.870090142217676)
test_LivingTogether

0

2